<%= form_tag '/shorten', remote: true do %>
  <%= label_tag :url, "Enter the URL you want to shorten" %>
  <%= text_field_tag :url %>
  <br/>
  <%= submit_tag "Shorten me"%>
<% end %>

<% if session[:urls] %>
  <ul id= "urls">
    <% session[:urls].reverse_each.each do |shortened_url, submitted_url| %>
      <li><%= link_to "#{root_path}""#{shortened_url}", shortened_url %> -> <%= link_to submitted_url, submitted_url %> </li>
    <% end %>
  </ul>
<% end %>